<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>角色菜单维护</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="#(g_path)/js/sys/common.js" type="text/javascript"></script>
	<style type="text/css">
	    body,html {
			width: 100%;
			height: 100%;
			padding: 0px;
			margin: 0px;
			overflow: hidden;
		}    
	</style>  

  </head>
  <body>
  <div id="layout1" class="mini-layout" style="width:100%;height:100%;"  borderStyle="border:solid 1px #aaa;">
        <div title="系统角色" showProxyText="true" region="west" width="200" showSplitIcon="true">
            <ul id="tree1" class="mini-tree" url="#(g_path)/role/roleDeptTreeData" style="width:100%; height:100%; padding:5px;" 
                showTreeIcon="true" textField="text" idField="id" parentField="pid" resultAsTree="false" expandOnLoad="0" onnodeclick="onNodeSelect">        
            </ul>
        </div>
        <div title="center" region="center">
            <div class="mini-toolbar" style="padding:0px;">
                <table style="width:100%;">
                    <tr>
                    <td style="width:100%;">
                        <a class="mini-button" iconCls="icon-save" plain="true" onclick="save();">保存</a>
                    </td>
                    <td style="white-space:nowrap;">

                    </td>
                    </tr>
                </table>
            </div>
            <!--撑满页面-->
            <div class="mini-fit" >
        		<ul id="tree2" class="mini-tree" url="#(g_path)/menu/getMenuTreeData" style="width:100%; height:100%; padding:5px;" 
	                showTreeIcon="true" textField="menuname" idField="id" parentField="pid" 
	                resultAsTree="false" expandOnLoad="-1"  showCheckBox="true" checkRecursive="false" autoCheckParent="false">        
	            </ul>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    mini.parse();
    var roleTree = mini.get("tree1");
    var menuTree = mini.get("tree2");

	var saveData = {};
    function save() {
		var roleRow = roleTree.getSelectedNode();
		var menus = menuTree.getCheckedNodes(true);
		if (roleRow == null || roleRow.type != "role")
		{
			MsgBox.showWarningTips("请在左侧树中选择角色!");
			return ;
		}
		
		var roleid = roleRow.id;
		var menuids = [];
		for (var i=0; i<menus.length; i++)
		{
			menuids.push(menus[i]["id"]);
		}

        var url = "#(g_path)/menu/roleMenuSave";
        getJson(url, { roleid:roleid ,menuids: mini.encode(menuids) }, true, function (re) {
            if (!re.isOk) {
                MsgBox.showErrTips("保存失败！");
            }
            else {
                MsgBox.showInfoTips("保存成功！");
            }
        });
    }
	
	function onNodeSelect(){
		var roleRow = roleTree.getSelectedNode();
		menuTree.uncheckAllNodes();
		if (roleRow != null && roleRow.type == "role"){
			var url = "#(g_path)/menu/getRoleMenuList";
	        getJson(url, { roleid:roleRow.id}, function (list) {
	        	if(list.length > 0){
		            var nodes = menuTree.findNodes(function(node){
						for(var i=0; i < list.length; i++){
							if(node.id == list[i]["menuid"]){
								return true;
							}
						}
					});
					
					menuTree.checkNodes(nodes);
				}
	        });
		}
	}

</script>
