.treenode-org {
	background-image: url(./lefttree/treenode-org.png) !important;
}

.treenode-collector {
	background-image: url(./lefttree/treenode-collector.png) !important;
}

.treenode-collector-stop {
	background-image: url(./lefttree/treenode-collector-stop.png) !important;
}

.treenode-busline {
	background-image: url(./lefttree/treenode-busline.png) !important;
}

.treenode-feederline {
	background-image: url(./lefttree/treenode-feederline.png) !important;
}

.treenode-linkline {
	background-image: url(./lefttree/treenode-linkline.png) !important;
}

.treenode-meter {
	background-image: url(./lefttree/treenode-meter.png) !important;
}

.treenode-mp {
	background-image: url(./lefttree/treenode-mp.png) !important;
}

.treenode-tq {
	background-image: url(./lefttree/treenode-tq.png) !important;
}

.treenode-sub {
	background-image: url(./lefttree/treenode-sub.png) !important;
}

.treenode-powerplant {
	background-image: url(./lefttree/treenode-powerplant.png) !important;
}

.treenode-transformer {
	background-image: url(./lefttree/treenode-transformer.png) !important;
}

.treenode-tmnl1 {
	background-image: url(./lefttree/treenode-tmnl1.png) !important;
}

.treenode-tmnl1-stop {
	background-image: url(./lefttree/treenode-tmnl1-stop.png) !important;
}

.treenode-tmnl2 {
	background-image: url(./lefttree/treenode-tmnl2.png) !important;
}

.treenode-tmnl2-stop {
	background-image: url(./lefttree/treenode-tmnl2-stop.png) !important;
}

.treenode-tmnl3 {
	background-image: url(./lefttree/treenode-tmnl3.png) !important;
}

.treenode-tmnl3-stop {
	background-image: url(./lefttree/treenode-tmnl3-stop.png) !important;
}

.treenode-usr {
	background-image: url(./lefttree/treenode-usr.png) !important;
}

.searchgrid-gps {
	background-image: url(./lefttree/gps.png) !important;
}

.treenode-leaf {
	background-image: url(./lefttree/leaf.gif) !important;
}

.treenode-folder {
	background-image: url(./lefttree/folder.gif) !important;
}

.treenode-folder-open {
	background-image: url(./lefttree/folder-open.gif) !important;
}

.treenode-volt {
	background-image: url(./lefttree/treenode-volt.png) !important;
}