<!DOCTYPE html>
<html>
  <head>
    <title>终端（电能量）</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
   <script src="#(g_path)/js/sys/common.js" type="text/javascript"></script>
        <link href="#(g_path)/view/jlzz/index/assets/scripts/miniui/themes/default/miniui.css" rel="stylesheet">
        <link href="#(g_path)/view/jlzz/index/assets/scripts/miniui/themes/bl-miniui/skin.css" rel="stylesheet">
        <link href="#(g_path)/view/jlzz/index/assets/scripts/miniui/res/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="#(g_path)/view/jlzz/index/assets/css/bl-miniui.css" rel="stylesheet">
        <link href="#(g_path)/view/jlzz/index/assets/css/hnjl-index.css" rel="stylesheet">
        <link href="#(g_path)/view/jlzz/index/assets/css/font/iconfont.css" rel="stylesheet">
  <style type="text/css">
	    body,html {
			width: 100%;
			height: 100%;
			padding: 0px;
			margin: 0px;
			/*overflow: hidden;*/
		}
		.lableright{
			width: 80px;
			text-align: right;
		}
		
		span.mini-tools-add
    {
        width:16px;height:16px;
        background:url(add.gif) no-repeat;
    }
    span.mini-tools-edit
    {
        width:16px;height:16px;
        background:url(edit.gif) no-repeat;
    }    
    span.mini-tools-remove
    {
        width:16px;height:16px;
        background:url(remove.gif) no-repeat;
    }      
	  </style>  
  </head>
  
  <body>
  <div class="mini-clearfix ">
     <div class="mini-col-6" style="width: 100%;">                
         <div class="mini-panel mini-panel-success" title="<i class='fa fa-chevron-down'></i>基本信息"  style="width:100%; background: white;" 
                    collapseOnTitleClick="true" >
             <table cellpadding="6" cellspacing="1"  >
                
                 
                 <tr>
                    <td style="width:100px;text-align:right;">终端标识</td>
                    <td style="width:300px;">
                    	<input #@bv("zdbs") class="mini-textbox" style="width: 300px"/>
                    </td>
                    <td style="text-align:right;">终端资产编号<font size="2" color="red">(*)</font></td>
                    <td>
                    	<input #@bv("zdzcbh") class="mini-textbox" style="width: 300px"/>
                    </td>
			   </tr>
			   <tr>
                    <td style="width:100px;text-align:right;">终端名称 <font size="2" color="red">(*)</font></td>
                    <td style="width:300px;">
                    	<input #@bv("zdmc") class="mini-textbox" style="width: 300px"/>
                    </td>
                    <td style=" text-align:right;">终端类型<span style="color: red">(*)</span></td>
                    <td >
                    	<input #@bv("zdlxdm") class="mini-textbox" style="width: 300px"/>
                    </td>
                </tr>
                 <tr>
                    <td style="width:100px;text-align:right;">供电单位<span style="color: red">(*)</span></td>
                    <td style="width:300px;">
                    	<input #@bv("gddwbm") class="mini-textbox" style="width: 300px"/>
                    </td>
                    <td style="text-align:right;">运行状态<span style="color: red">(*)</span></td>
                    <td >
                    	<input #@bv("yxztdm") class="mini-textbox" style="width: 300px"/>
                    </td>
                </tr> 
                <tr> 
                <td style="width:100px;text-align:right;">终端软件版本 </td>
                <td style="width:300px;">
                	<input #@bv("rjbbh") class="mini-textbox" style="width: 300px"/>
                </td>
                <td style="text-align:right;">终端编号</td>
                <td >
                	<input #@bv("zdzcbs") class="mini-textbox" style="width: 300px"/>
                </td>                     
                 </tr>
                 
                 <tr> 
                    <td style="width:100px;text-align:right;">文采标志</td>
                    <td style="width:300px;">
                    	<input #@bv("jcbz_mc") class="mini-textbox" style="width: 300px"/>
                    </td>
                    <td style="text-align:right;">接线方式</td>
                    <td>
                   		<input #@bv("jxfsdm_mc") class="mini-textbox" style="width: 300px"/>
                    </td>                    
                 </tr>
                 
                 <tr> 
                    <td style="width:100px;text-align:right;">终端型号</td>
                    <td style="width:300px;">
                    	<input #@bv("zdsbxh") class="mini-textbox" style="width: 300px"/>
                    </td>
                    <td style="text-align:right;">所属厂站</td>
                    <td >
                    	<input #@bv("") class="mini-textbox" style="width: 300px"/>
                    </td>
                    
                 </tr>
                 
                 <tr> 
                    <td style="width:100px;text-align:right;">终端规约<span style="color: red">(*)</span></td>
                    <td style="width:300px;">
                    	<input #@bv("txgydm_mc") class="mini-textbox" style="width: 300px"/>
                    </td> 
                 </tr>
            </table>
        </div>

     </div>
  </div>
 <!-- 基本信息end -->
 <!-- ---------------------------------------------------- -->
 
 <!-- -----------------------star ------------------------------------ -->
	<div class="mini-clearfix ">
	          <div class="mini-col-6" style="width: 100%;">
	          
	            <div class="mini-panel mini-panel-info"  collapseOnTitleClick="true" title="<i class='fa fa-chevron-down'></i>通讯参数" width="auto">
	              <table cellpadding="6" cellspacing="1"  >
	              <tr>
	                  <td style="width:100px;text-align:right;">终端逻辑地址<span style="color: red">(*)</span></td>
	                  <td style="width:300px;">
	                 		<input #@bv("zddz") class="mini-textbox" style="width: 300px"/>
	                  </td>
	                  <td style="text-align:right;">终端IP地址</td>
	                  <td >
	                  	<input #@bv("ipdz") class="mini-textbox" style="width: 300px"/>
	                  </td>
		   		</tr>
		   
		   		<tr>
                  <td style="width:100px;text-align:right;">通讯端口</td>
                  <td style="width:300px;">
                  	<input #@bv("") class="mini-textbox" style="width: 300px"/>
                  </td>
                  <td style="text-align:right;">通信方式</td>
                  <td >
                  	<input #@bv("txfs") class="mini-textbox" style="width: 300px"/>
                  </td>
	            </tr>
	                 
	          </table>
	      </div> 
	    </div>
	    </div>
	      <!-- ---------------------------------------------------- -->
        
        <!-- ---------------------------------------------------- -->
           <div class="mini-clearfix ">
            <div class="mini-col-6" style="width: 100%;">
            
              <div class="mini-panel mini-panel-info"  collapseOnTitleClick="true" title="<i class='fa fa-chevron-down'></i>SIM卡" width="auto">
                <table cellpadding="6" cellspacing="1" ><!--style="width:100%;table-layout:fixed; "-->
                <tr>
                    <td style="width:100px;text-align:right;">SIM卡手机号码<span style="color: red">(*)</span></td>
                    <td style="width:300px;">
                    	<input #@bv("") class="mini-textbox" style="width: 300px"/>
                    </td>
                    <td style=" text-align:right;">SIM卡信息</td>
                    <td >
                    	<input #@bv("") class="mini-textbox" style="width: 300px"/>
                    </td>
			   </tr> 
            </table>
          </div> 
         </div>
     </div>            
        <!-- ---------------------------------------------------- -->
        
        <!-- ---------------------------------------------------- -->
        <div class="mini-clearfix ">
            <div class="mini-col-6" style="width: 100%;">
            
                <div class="mini-panel mini-panel-info"   collapseOnTitleClick="true" title="<i class='fa fa-chevron-down'></i>其他信息" width="auto">
                  <table cellpadding="6" cellspacing="1" >
                <tr>
                    <td style="width:100px;text-align:right;">出厂编号</td>
                    <td style="width:300px;">
                    	<input #@bv("ccbh") class="mini-textbox" style="width: 300px"/>
                    </td>
                    <td style="text-align:right;">制造厂家</td>
                    <td >
                    	<input #@bv("zdcj") class="mini-textbox" style="width: 300px"/>
                    </td>
			   </tr>
			   
			   <tr>
                    <td style="width:100px;text-align:right;">出厂日期</td>
                    <td style="width:300px;">
                    	<input #@bv("ccrq") class="mini-textbox" style="width: 300px"/>
                    </td>
                    	
                    <td style="text-align:right;">建档时间</td>
                    <td >
                    	<input #@bv("azsj") class="mini-textbox" style="width: 300px"/>
                    </td>
                </tr>
                
                <tr>
                    <td style="width:100px;text-align:right;">建档人</td>
                    <td style="width:300px;">
                    	<input #@bv("cjsj") class="mini-textbox" style="width: 300px"/>
                    </td>
                    <td style="text-align:right;">变更时间</td>
                    <td >
                    	<input #@bv("czsj") class="mini-textbox" style="width: 300px"/>
                    </td>
                </tr> 
                
                <tr>
                    <td style="width:100px;text-align:right;">安装地址 	</td>
                    <td style="width:300px;">
                    	<input #@bv("azdz") class="mini-textbox" style="width: 300px"/>
                    </td>
                    <td style="text-align:right;">更变人员</td>
                    <td >
                    	<input #@bv("") class="mini-textbox" style="width: 300px"/>
                    </td>
                </tr>
                 
                <tr> 
                    <td style="width:100px;text-align:right;">备注</td>
                    <td style="width:300px;">
                    	<input #@bv("") class="mini-textbox" style="width: 300px"/>
                    </td>
               </tr> 
            </table>
        </div> 
    </div>
     </div>
   <!-- ---------------------------end 其他信息------------------------------ -->
            
  </body>
</html>
<script type="text/javascript">
    mini.parse();
</script>