[
{
	"name":"表单-列表编辑",
	"renders":[{
		"type":"html",
		"view":"/sys/autocode/miniui_list_edit_html.txt",
		"targetName":"#(pfx)_list.html"
	},{
		"type":"java",
		"view":"/sys/autocode/miniui_list_edit_java.txt"
	}]
},
{
	"name":"表单-详细编辑",
	"renders":[{
		"type":"html",
		"view":"/sys/autocode/miniui_edit_list_html.txt",
		"targetName":"#(pfx)_list.html"
	},{
		"type":"html",
		"view":"/sys/autocode/miniui_edit_html.txt",
		"targetName":"#(pfx)_edit.html"
	},{
		"type":"java",
		"view":"/sys/autocode/miniui_edit_java.txt"
	}]
},
{
	"name":"流程-表单",
	"renders":[{
		"type":"html",
		"view":"/sys/autocode/flow_form_html.txt",
		"targetName":"#(pfx)_form.html"
	},{
		"type":"html",
		"view":"/sys/autocode/flow_list_html.txt",
		"targetName":"#(pfx)_list.html"
	}
	,{
		"type":"java",
		"view":"/sys/autocode/flow_form_java.txt"
	}]
}
]